@use "@styles/space";
@use "@styles/color";
@use "@styles/font";
@use "@styles/shadow";

.container {
  display: flex;
  align-items: center;

  // General styles
  .label {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    align-self: center;

    &::before {
      content: "";
      text-align: center;
      display: inline-block;
      appearance: none;
      border: 1px solid color.$gray-300;
      background-color: white;
      position: relative;
    }
  }

  // Size related styles
  &.sm {
    .label::before {
      height: 12px;
      width: 12px;
      border-radius: space.$s1;
    }

    .label {
      font: font.$text-sm-medium;
      gap: space.$s2;
    }
  }

  &.md {
    .label::before {
      height: 14px;
      width: 14px;
      border-radius: 6px;
    }

    .label {
      font: font.$text-md-medium;
      gap: space.$s3;
    }
  }

  // Check state related styles
  &.checked {
    .label::before {
      content: url("/icons/check.svg");
      background-color: color.$primary-50;
      color: color.$primary-600;
      border-color: color.$primary-600;
    }
  }

  &.indeterminate {
    .label::before {
      content: url("/icons/minus.svg");
      background-color: color.$primary-50;
      color: color.$primary-600;
      border-color: color.$primary-600;
    }
  }

  &.unchecked {
    .label:hover::before {
      background-color: color.$primary-50;
      color: color.$primary-600;
      border-color: color.$primary-600;
    }
  }

  // Check state SVG placement styles
  &.sm.checked .label::before {
    line-height: 90%;
  }

  &.md.checked .label::before {
    line-height: 85%;
  }

  &.sm.indeterminate .label::before {
    line-height: 40%;
  }

  &.md.indeterminate .label::before {
    line-height: 40%;
  }

  // Disabled with different check state stylees
  &.disabled.checked .label {
    cursor: auto;
    color: color.$gray-300;

    &::before {
      content: url("/icons/check-gray.svg");
      background-color: color.$gray-100;
      border-color: color.$gray-200;
    }
  }

  &.disabled.indeterminate .label {
    cursor: auto;
    color: color.$gray-300;

    &::before {
      content: url("/icons/minus-gray.svg");
      background-color: color.$gray-100;
      border-color: color.$gray-200;
    }
  }

  &.disabled.unchecked .label {
    cursor: auto;
    color: color.$gray-300;

    &:hover {
      border-color: color.$gray-200;
    }

    &::before {
      background-color: color.$gray-100;
      border-color: color.$gray-200;
    }
  }

  // Checkbox input element styles
  .checkbox {
    opacity: 0;
    position: absolute;

    &:focus + .label::before {
      box-shadow: shadow.$shadow-xs-focused-4px-primary-100;
    }
  }
}
