$shadow-xs: 0 1px 2px 0 rgb(16 24 40 / 5%);
$shadow-xs-focused-4px-primary-100: 0 0 0 4px #f4ebff,
  0 1px 2px 0 rgb(16 24 40 / 5%);
$shadow-xs-focused-4px-gray-100: 0 0 0 4px #f2f4f7,
  0 1px 2px 0 rgb(16 24 40 / 5%);
$shadow-xs-focused-4px-error-100: 0 0 0 4px #fee4e2,
  0 1px 2px 0 rgb(16 24 40 / 5%);
